ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  width: 60px;
  background-color: #dddddd;
}

div.derecha {
  width: 33%;
  box-sizing: inherit;
  display: inline-block;
  background: #fcc;
  padding: 10px;
  float: right;
  margin-top: -65%;
}